@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #090909;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.container-main {
  @apply p-4 flex flex-col justify-center min-h-screen container mx-auto max-w-lg;
}

.button-reset {
  @apply flex items-center gap-2 active:scale-95 transition-transform;
}

.container-grid {
  @apply grid grid-cols-12 gap-4;
}

.container-grid-extended {
  @apply mt-4 grid grid-cols-12 gap-4;
}
